.infoPage{
    width: 80%;
    margin: auto;
}
.blogImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.header{
    display: flex;
    gap:10px;
    
    .content{
        flex:5
    }

    .info{
        flex:2;
        padding:10px;
        width: 100%;
    }
}

.header2{
    display: flex;
    flex-direction: column;

}

.info2{
    right: 150px;
    padding: 30px;
    margin-left: 10px;
}

.noImageBody{
    display: flex;
    flex: .1;
    
}

.noImageTexts{
    flex: .9;
}