.new-form{
    display: flex;
    width: 90%;
    margin: auto;

}

.left-box{
    display: flex;
    flex: 0.3;
    flex-direction: column;
    margin-right: 30px;
}

.right-box{
    flex: 0.7;
}

.quill{
    height: 400px;
    padding: 10px;
}
