.searchInput{
    display: flex;
    align-items: center;
    width: 60%;
    border: 1px solid black;
    margin: auto;
}

.searchInput > input{
    flex: 1;
    border: none;
    padding: 10px;
}

.inputButton{
    width: 40px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: grey;
}